#button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  outline: none;
  cursor: pointer;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

.actions {
  position: fixed;
  left: 50%;
  bottom: 10vh;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 3;
}

.actions button {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  color: white;
  background-color: rgba(231, 217, 22, 0.8);
  cursor: pointer;
}

.actions button:not(:first-child) {
  margin-left: 16px;
}

#progress-bar-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  z-index: 100;
}

#progress-bar {
  width: 30%;
  height: 2%;
  margin-top: 4px;
}