.description{
  animation: zoomInHtml 1s normal;
  color: #dddddd;
  background-color: #333333;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100vw;
  height: 100vh;
  line-height: 0.9;
  z-index: 3;
  /* 두줄 한번 해보고 바꾸기 */
}

.description2{
  animation: slideHtmlUp 1s normal;
  color: #dddddd;
  background-color: #333333;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100vw;
  height: 100vh;
  line-height: 0.9;
  z-index: 3;
  /* 두줄 한번 해보고 바꾸기 */
}
.description-button-wrapper{
  display: flex;
  justify-content: right;
  height: 10%;
}

.description-button{
  background-color: unset;
  color: #dddddd;
  border: none;
  cursor: pointer;
  padding: 10px 40px;
}

.description-wrapper{
  display: flex;
  flex-direction: column;
  height: 90%;
}

.description-container{
  display: flex;
  height: 100%;
  flex-direction: column;
}

.description-title-wrapper{
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}


.description-subtitle{
  letter-spacing: 0.9vw;
  font-size: 25vh;
  font-weight: 500;
  
}

.description-subtitle a{
  width: 100%;
  height: 100%;
  color: unset;
  text-decoration: unset;
}

.description-submibletitle{
  text-align: right;

}

.description-detail{
  font-size: 1.8vh;
  font-weight: 200 !important;
  line-height: 1.5;
  letter-spacing: 0.1vw;
  width: 80%;
  text-align: center;
  padding-top: 5vh;
}

.description-info{
  height: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
/* .description-info-title{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
}

.description-info-content{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
} */

.description-column{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  max-width: 20%
}

.description-column-title{
  font-size: 2vh;
  font-weight: 600;
  letter-spacing: 0.1vw;
  text-align: left;
  display: flex;
  align-items: flex-end;
  height: 50%;
}

.description-column-content{
  font-size: 1.8vh;
  font-weight: 100 !important;
  line-height: 1.5;
  max-width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  height: 50%;
}

.description-end{
  animation: zoomOutHtml 1s normal;
  color: #dddddd;
  background-color: #333333;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100vw;
  height: 100vh;
  line-height: 0.9;
  z-index: 3;

}

.description-end2{
  animation: slideHtmlDown 1s normal;
  color: #dddddd;
  background-color: #333333;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100vw;
  height: 100vh;
  line-height: 0.9;
  z-index: 3;

}

@keyframes slideHtmlDown {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-100px);
  }
  100%{
    transform: translateY(1000px);
  }
}

@keyframes zoomInHtml {
  0% {
    transform: scaleX(0) scaleY(0);
  }
  100%{
    transform: scaleX(1) scaleY(1);
  }
}

@keyframes zoomOutHtml {
  0% {
    transform: scaleX(1) scaleY(1) ;
  }
  100%{
    transform: scaleX(0) scaleY(0);
  }
}

@keyframes slideHtmlUp {
  0% {
    transform: translateY(1000px);
  }
  75% {
    transform: translateY(-100px);
  }
  100%{
    transform: translateY(0px);
  }
}

